<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-900 text-white">
        <header class="bg-gray-700 p-4 flex justify-between">
            <h1 class="text-4xl font-bold">Admin Dashboard</h1>
            <div class="flex gap-4">
               <a href="{{url_for('user_bp.logout')}}" class="hover:text-gray-300 border border-white/20 rounded-lg p-2">Logout</a>
               <a href="/" class="hover:text-gray-300 border border-white/20 rounded-lg p-2">Home</a>
            </div>
        </header>
        <div class="container mx-auto p-4 w-40% mt-20 flex justify-center">
            <div class="bg-white/10 backdrop-blur-md rounded-2xl shadow-xl p-8 border border-white/20">
                <h3 class="text-3xl font-bold text-center mb-8">Admin Dashboard</h3>
                <div class="space-y-4">
                    <a href="{{ url_for('planeticket_bp.create_flight') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Create Flight
                    </a>
                    <a href="{{ url_for('planeticket_bp.create_notification') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Create Notification
                    </a>
                    <!-- <a href="{{ url_for('planeticket_bp.create_booking') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Create Booking
                    </a> -->
                    <a href="{{ url_for('planeticket_bp.cancel_booking') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Cancel Booking
                    </a>
                    <a href="{{ url_for('planeticket_bp.get_passenger') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Get Passenger
                    </a>
                    <a href="{{ url_for('planeticket_bp.get_all_passengers') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Get All Passenger
                    </a>
                    <a href="{{ url_for('planeticket_bp.get_review') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Get Review
                    </a>
                    <a href="{{ url_for('planeticket_bp.delete_review') }}" 
                       class="block w-full bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full text-center">
                       Delete Review
                    </a>
                </div>
            </div>
        </div>

        <script src="./script.js" async defer></script>
    </body>
</html>
