<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Get Review</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="main flex bg-green-900 h-[150vh] place-content-center pt-16 w-full ">
        <div class="boxer fixed flex flex-col bg-green-500 h-[80vh] shadow-md w-80 place-content-center rounded-lg">
            <h1 class="m-auto mb-[-10px] text-[20px]">Get Review</h1>
            <form class="form flex flex-col gap-3 m-auto" action="{{url_for(planeticket_bp.get_review)}}" method="post">
                <label for="Review_ID">Review_ID</label>
                <input class="rounded-lg border-lime-800 border  bg-transparent" type="number" name="Review_ID" id="">
                <button class="h-6 mt-4 bg-zinc-900 motion-safe:animate-bounce rounded text-white" type="submit">Find Review</button>
            </form>
        </div>
    </div>

    <script src="./script.js" async defer></script>
</body>
</html>

