<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="bg-white/10 backdrop-blur-md rounded-2xl h-[98vh] justify-items-center shadow-xl p-8 mx-8 border border-white/20">
        <div class="w-[30%] bg-white/10 backdrop-blur-md rounded-2xl place-content-center mt-32 shadow-xl p-8 border border-white/20">
            <h3 class="text-3xl font-bold text-gray-900 text-center mb-8">Make Payment</h3>
            <form action="{{url_for('planeticket_bp.process_payment')}}" method="POST">
            <div class="flex flex-col mb-4">
                <label for="payment_method" class="text-gray-400 mb-2">Payment Method</label>
                <select name="Payment_Method" id="payment_method" class="bg-white/10 backdrop-blur-md rounded-2xl shadow-xl p-2">
                    <option value="UPI" selected>UPI</option>
                </select>
            </div>
            <div class="flex flex-col mb-4">
                <label for="upi_id" class="text-gray-400 mb-2">UPI ID</label>
                <input type="text" name="UPI_ID" id="upi_id" class="bg-white/10 backdrop-blur-md rounded-2xl shadow-xl p-2" required>
            </div>
            <div class="flex flex-col mb-4">
                <label for="amount" class="text-gray-400 mb-2"> &#8377; {{price}}</label>
                <input type="text" name="amount" id="amount" class="bg-white/10 backdrop-blur-md rounded-2xl shadow-xl p-2" value="{{ total_amount }}" readonly>
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Make Payment</button>
        </form>
    </div>
    </div>
</body>
</html>