<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Payment Success</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-900 text-white">
        <header class="bg-gray-700 p-4 flex justify-between">
            <h1 class="text-4xl font-bold">Payment Success</h1>
            <a href="/" class="hover:text-gray-300 border border-white/20 rounded-lg p-2">Home</a>
        </header>
        <div class="container mx-auto p-4 w-40% mt-20 flex justify-center">
            <div class="bg-white/10 backdrop-blur-md rounded-2xl shadow-xl p-8 border border-white/20">
                <h3 class="text-3xl font-bold text-center mb-8">Booking Successful!</h3>
                <p class="text-center text-xl mb-4">Your ticket has been booked successfully!</p>
                <p class="text-center mb-8">Booking ID: <span class="font-bold">{{ booking_id }}</span></p>
                <a href="{{ url_for('planeticket_bp.ticket', booking_id=booking_id,Flight_ID=Flight_ID,no_of_passengers=no_of_passengers,p_id=p_id) }}" class="block w-full text-center bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full mb-4">View Ticket</a>
                <p>{{ Flight_ID }}</p>
                <a href="/" class="block w-full text-center bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full">Return Home</a>
            </div>
        </div>
    </body>
</html>