<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="main flex bg-gray-900 h-[150vh] place-content-center pt-16 w-full">
            <div class="boxer fixed flex flex-col bg-gray-500 h-[80vh] shadow-md w-80 place-content-center rounded-lg">
                <h1 class="m-auto text-[20px]">User Profile</h1>
                <div class="space-y-4">
                    <a href="/flight/search" 
                       class="block bg-gradient-to-r from-blue-500 to-indigo-500 text-white py-3 px-6 rounded-lg hover:from-blue-600 hover:to-indigo-600 transition duration-300 font-medium text-lg text-center">
                       Search Flight
                    </a>
                    <a href="{{url_for('planeticket_bp.get_booking') }}" 
                       class="block bg-gradient-to-r from-blue-500 to-indigo-500 text-white py-3 px-6 rounded-lg hover:from-blue-600 hover:to-indigo-600 transition duration-300 font-medium text-lg text-center">
                       Get Booking
                    </a>
                    <a href="{{url_for('planeticket_bp.get_notifications') }}" 
                       class="block bg-gradient-to-r from-blue-500 to-indigo-500 text-white py-3 px-6 rounded-lg hover:from-blue-600 hover:to-indigo-600 transition duration-300 font-medium text-lg text-center">
                       Get Notification
                    </a>
                    <a href="{{url_for('planeticket_bp.cancel_booking') }}" 
                       class="block bg-gradient-to-r from-blue-500 to-indigo-500 text-white py-3 px-6 rounded-lg hover:from-blue-600 hover:to-indigo-600 transition duration-300 font-medium text-lg text-center">
                       Cancel Booking
                    </a>
                    <a href="{{url_for('planeticket_bp.get_review') }}" 
                       class="block bg-gradient-to-r from-blue-500 to-indigo-500 text-white py-3 px-6 rounded-lg hover:from-blue-600 hover:to-indigo-600 transition duration-300 font-medium text-lg text-center">
                       Get Review
                    </a>
                    <a href="{{url_for('planeticket_bp.create_review') }}" 
                       class="block bg-gradient-to-r from-blue-500 to-indigo-500 text-white py-3 px-6 rounded-lg hover:from-blue-600 hover:to-indigo-600 transition duration-300 font-medium text-lg text-center">
                       Create Review
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
